/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Exo+2:wght@500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Roboto&family=Teko:wght@400;600&display=swap");
@keyframes wrong {
  0% {
    border: 1px solid red;
    transform: rotate(-1deg);
  }
  25% {
    border: 1px solid red;
    transform: rotate(1deg);
  }
  50% {
    border: 1px solid red;
    transform: rotate(-1deg);
  }
  100% {
    border: 1px solid red;
    transform: rotate(1deg);
  }
}
@keyframes confirm-submit-msj {
  0% {
    transform: translateY(20em);
  }
  50% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear-cards {
  0% {
    transform: translateX(-20em);
  }
  50% {
    transform: rotateY(100deg) translateX(10em);
  }
  100% {
    transform: rotateY(0deg) translateX(0);
  }
}
@keyframes appear-form {
  0% {
    transform: scale(0);
  }
  100% {
    transform: 1;
  }
}
@keyframes check_icon {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
/* Media Queris */
@media (min-width: 1500px) {
  #cards {
    box-shadow: none !important;
    transform: scale(1.2);
    transition: all 1s;
  }
  .form-section {
    transform: scale(1.6) !important;
    transition: all 1s;
  }
  .confirm-submit-msj {
    transform: translateX(1em) scale(1.5);
    transition: all 1s;
  }
}
@media (min-width: 1100px) {
  .form-section {
    transform: scale(1.2);
    transition: all 1s;
  }
  .date-div {
    flex-grow: 2;
    transition: all 1s;
  }
  .form-input-month {
    margin-right: 2em;
  }
  .cvc-div {
    flex-grow: 0.3;
    transition: all 1s;
  }
  .attribution {
    font-size: 0.9em !important;
    transition: all 1s;
  }
}
@media (max-width: 950px) {
  #cards {
    width: 40% !important;
    transition: all 700ms;
  }
  .front-card {
    transform: translateX(4.5em);
    transition: all 1s;
  }
  .back-card {
    transform: translateX(-1.5em);
    transition: all 1s;
  }
  #form {
    width: 60% !important;
    transition: all 600ms;
  }
  .form-section {
    transform: translateX(4em);
    transition: all 1s;
  }
  .confirm-submit-msj {
    transform: translateX(4em);
    z-index: 1000;
    transition: all 1s;
  }
}
@media (max-width: 650px) {
  .front-card {
    transform: translateX(4.3em) scale(0.6) translateY(4em);
    transition: all 1s;
  }
  .back-card {
    transform: translateX(-1.7em) scale(0.6) translateY(-4em);
    transition: all 1s;
  }
  .form-section {
    transform: translateX(1em);
    transition: all 1s;
  }
  .confirm-submit-msj {
    transform: translateX(1em) scale(0.8);
    transition: all 1s;
  }
}
@media (max-width: 450px) {
  .main-section {
    flex-direction: column;
  }
  #cards {
    width: 100% !important;
    height: 40vh;
    box-shadow: none !important;
    transition: all 700ms;
  }
  .back-card {
    transform: translateX(-7.5em) scale(0.8) translateY(10em);
    transition: all 1s;
    order: -1;
  }
  .front-card {
    transform: translateX(-5.5em) scale(0.8) translateY(1em);
    transition: all 1s;
    z-index: 2;
  }
  #form {
    width: 100% !important;
    height: 60vh;
    transition: all 600ms;
  }
}
@media (max-width: 370px) {
  .back-card {
    transform: translateX(-5.2em) scale(0.7) translateY(11em);
  }
  .front-card {
    transform: translateX(-1em) scale(0.7) translateY(1em);
  }
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  overflow: hidden;
}
body .main-section,
html .main-section {
  display: flex;
  margin: 0;
  height: 100vh;
}
body .main-section #cards,
html .main-section #cards {
  background: linear-gradient(to left top, rgba(53, 0, 106, 0.937254902), #46007b, #2b0231, #202b5c, #c300ff);
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2em;
  box-shadow: 1em 1em 2em #201a25;
}
body .main-section #cards .front-card,
html .main-section #cards .front-card {
  height: 12em;
  width: 22em;
  border-radius: 0.6em;
  box-shadow: 0.5em 0.5em 0.9em rgba(39, 39, 39, 0.5411764706);
  position: relative;
  left: 2em;
  background: linear-gradient(to left top, #9400e9, #0089c9, #9f21bb, #9a01f3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f3f3f4;
  text-shadow: 1px 1px 1px #201a25;
}
body .main-section #cards .front-card .avatar-card p,
html .main-section #cards .front-card .avatar-card p {
  background: url("./images/avatar.png") no-repeat center center;
  background-size: cover;
  height: 3em;
  width: 3em;
  margin: 0 1em;
  border-radius: 50%;
  transform: translateY(0.7em);
}
body .main-section #cards .front-card .card-number,
html .main-section #cards .front-card .card-number {
  text-align: center;
  letter-spacing: 4px;
  font-weight: bolder;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
  transform: translateY(1em);
}
body .main-section #cards .front-card .footer-card,
html .main-section #cards .front-card .footer-card {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  text-transform: capitalize;
}
body .main-section #cards .front-card .footer-card .cardholder-name,
html .main-section #cards .front-card .footer-card .cardholder-name {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
}
body .main-section #cards .back-card,
html .main-section #cards .back-card {
  height: 12em;
  width: 22em;
  border-radius: 0.6em;
  box-shadow: 0.5em 0.5em 0.9em rgba(39, 39, 39, 0.5411764706);
  position: relative;
  left: 8em;
  background-color: #e6e6e6;
}
body .main-section #cards .back-card hr,
html .main-section #cards .back-card hr {
  margin-top: 1.3em;
  height: 2.5em;
  background-color: #201a25;
  border: 1px solid #201a25;
}
body .main-section #cards .back-card :nth-child(2),
html .main-section #cards .back-card :nth-child(2) {
  background-color: #a6a6a6;
  border-radius: 0.2em;
  line-height: 2em;
  padding-right: 1em;
  margin: 0 1.3em;
  text-align: end;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: #f3f3f4;
  text-shadow: 1px 1px 1px #201a25;
}
body .main-section #cards .back-card :nth-child(2)::after,
html .main-section #cards .back-card :nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  right: 1.5em;
  bottom: 35%;
  width: 3.5em;
  height: 3.5em;
  border: 3px solid #9400e9;
  border-radius: 50%;
}
body .main-section #cards .back-card :nth-child(3),
html .main-section #cards .back-card :nth-child(3) {
  text-align: center;
  padding: 1em;
  opacity: 0.4;
  line-height: 2em;
  text-decoration: line-through 7px #707070;
  margin: 0 5em;
  font-weight: bolder;
  font-size: 0.4em;
  transform: translateY(-1em);
}
body .main-section #form,
html .main-section #form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f4;
  width: 65%;
}
body .main-section #form .form-section,
html .main-section #form .form-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
body .main-section #form .form-section .cheked,
html .main-section #form .form-section .cheked {
  font-family: "Teko", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(32, 26, 37, 0.3647058824);
  border: 2px solid #2fc900;
  box-shadow: inset 0 0 5px rgba(47, 201, 0, 0.4901960784);
}
body .main-section #form .form-section span,
html .main-section #form .form-section span {
  color: #ff0000;
}
body .main-section #form .form-section .label-form,
html .main-section #form .form-section .label-form {
  transform: translateY(1em);
}
body .main-section #form .form-section input,
html .main-section #form .form-section input {
  padding: 0.8em 0.5em;
  border-radius: 0.4em;
  outline: none;
  border: 1px solid rgba(32, 26, 37, 0.2431372549);
  margin-top: 0.4em;
  text-transform: capitalize;
  transition: all 200ms;
}
body .main-section #form .form-section input:focus,
html .main-section #form .form-section input:focus {
  border: 1px solid #9400e9;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #8544be;
}
body .main-section #form .form-section input::placeholder,
html .main-section #form .form-section input::placeholder {
  font-style: italic;
  opacity: 0.7;
  padding-left: 0.5em;
  font-size: 0.8em;
}
body .main-section #form .form-section .alert-msj-name,
html .main-section #form .form-section .alert-msj-name {
  color: #ff0000;
  position: absolute;
  font-size: 0.7em;
  translate: 0 6em;
}
body .main-section #form .form-section .alert-msj-number,
html .main-section #form .form-section .alert-msj-number {
  color: #ff0000;
  position: absolute;
  font-size: 0.7em;
  translate: 0 15em;
}
body .main-section #form .form-section .section-date-cvc,
html .main-section #form .form-section .section-date-cvc {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
body .main-section #form .form-section .section-date-cvc .date-div,
html .main-section #form .form-section .section-date-cvc .date-div {
  display: flex;
  flex-direction: column;
}
body .main-section #form .form-section .section-date-cvc .date-div .info-msj,
html .main-section #form .form-section .section-date-cvc .date-div .info-msj {
  color: #ff0000;
  position: absolute;
  font-size: 0.7em;
}
body .main-section #form .form-section .section-date-cvc .date-div .form-input-month,
body .main-section #form .form-section .section-date-cvc .date-div .form-input-year,
html .main-section #form .form-section .section-date-cvc .date-div .form-input-month,
html .main-section #form .form-section .section-date-cvc .date-div .form-input-year {
  width: 4em;
}
body .main-section #form .form-section .section-date-cvc .cvc-div,
html .main-section #form .form-section .section-date-cvc .cvc-div {
  display: flex;
  flex-direction: column;
  width: 4em;
}
body .main-section #form .form-section .section-date-cvc .cvc-div .alert-msj-cvc,
html .main-section #form .form-section .section-date-cvc .cvc-div .alert-msj-cvc {
  color: #ff0000;
  position: absolute;
  font-size: 0.7em;
  min-width: max-content;
  translate: 0 4.5em;
}
body .main-section #form .form-section .form-btn,
html .main-section #form .form-section .form-btn {
  font-family: "Exo 2", sans-serif;
  color: #f3f3f4;
  background-color: rgba(132, 132, 132, 0.6470588235);
  cursor: pointer;
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  margin-top: 0.5em;
  opacity: 0.6;
}
body .main-section #form .form-section .form-btn:hover,
html .main-section #form .form-section .form-btn:hover {
  background-color: #201a25;
  opacity: 1;
  transform: scale(1.1);
  transition: all 500ms;
  box-shadow: 0 0.7em 0.5em rgba(32, 26, 37, 0.631372549);
}
body .main-section .confirm-submit-msj,
html .main-section .confirm-submit-msj {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main-section .confirm-submit-msj .confirm-submit-h1,
html .main-section .confirm-submit-msj .confirm-submit-h1 {
  transition: all 1s;
  text-align: center;
  flex-wrap: wrap;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
body .main-section .confirm-submit-msj :nth-child(3),
html .main-section .confirm-submit-msj :nth-child(3) {
  color: rgba(32, 26, 37, 0.3960784314);
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  transform: translateY(-1.5em);
}
body .main-section .confirm-submit-msj .check_icon,
html .main-section .confirm-submit-msj .check_icon {
  background: linear-gradient(to left top, #715085, #ae3bc8, #ecdcf6);
  height: 4.2em;
  width: 4.2em;
  border-radius: 50%;
  margin-bottom: 2em;
}
body .main-section .confirm-submit-msj .check_icon :nth-child(1),
html .main-section .confirm-submit-msj .check_icon :nth-child(1) {
  background-color: #f3f3f4;
  border-radius: 1em;
  height: 0.2em;
  display: block;
  position: relative;
  top: 2em;
  width: 2em;
  left: 1.4em;
  transform: rotate(-40deg);
}
body .main-section .confirm-submit-msj .check_icon :nth-child(2),
html .main-section .confirm-submit-msj .check_icon :nth-child(2) {
  background-color: #f3f3f4;
  border-radius: 1em;
  height: 0.2em;
  display: block;
  position: relative;
  top: 2.2em;
  width: 0.7em;
  left: 1.13em;
  transform: rotate(-130deg);
}
body .main-section .confirm-submit-msj .confirm-submit-btn,
html .main-section .confirm-submit-msj .confirm-submit-btn {
  background-color: #201a25;
  color: #f3f3f4;
  border: none;
  width: 20em;
  padding: 1em;
  font-family: "Exo 2", sans-serif;
  border-radius: 0.4em;
  margin-top: 1em;
  cursor: pointer;
}
body .main-section .confirm-submit-msj .confirm-submit-btn:hover,
html .main-section .confirm-submit-msj .confirm-submit-btn:hover {
  transform: scale(1.1);
  transition: all 500ms;
  box-shadow: 0 1em 0.5em rgba(32, 26, 37, 0.631372549);
}
body .attribution,
html .attribution {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.7em;
  text-align: center;
}
body .attribution a,
html .attribution a {
  color: #9f04f9;
  font-weight: bolder;
}

/*# sourceMappingURL=stylesheet.css.map */
